
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listedPlace{
    padding: 10%;
    background-color: #E0EDF4;
    border-left: 5px solid #c1ddf4;
    margin-bottom: 4px;
    color: #3E5252;
}

.listedPlace.selected {
    background-color: #c1ddf4;
}

p {
    text-align: center;
    padding: 30px 0;
    color: gray;
}

input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.4em;
    background-color: #323333;
    color: #687F7F;
}

#Home {
    margin: 0;
    padding: 0;
}

#gmap {
    /*disable scroll for this*/
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;

    height: 92%;
    width: 80%;

}

#timeline {
    /*enable scroll for this*/
    overflow: auto;
    height: 92%;

    position: absolute;
    top: 58px;
    right: 0;
    width: 20%;
}

.buttonRemove{
    float: right;
}